.logo-color {
  color: #990000;
}

.main-wrapper {
    background: #FFF none repeat scroll 0% 0%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 900;
    font-size: 14px;
    border-top: 2px solid #B92B27;
}

.navbar {
  width: 1002px;
  position: relative;
  box-sizing: border-box;
  margin: 0px auto;
}

#concept-container {
  width: 1002px;
  position: relative;
  box-sizing: border-box;
  margin: 0px auto;
}

.navbar .user {
  font-weight: bold;
}

.navbar .navbar-brand {
  font-weight: bold;
}

.content-wrapper {
  width: 1002px;
  margin: 0px auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 80px;
}

#search-area .result {
  color: #000000;
  display: block;
}

#search-area .result:hover {
  background-color: #ececec;
}

#search-area .result.active {
  background-color: #ececec;
}

#search-area .result .title{
  margin-left: 20px;
}

#search-area a {
  text-decoration: none;
}

#search-area b {
  color: #00BBFF
}

#search-area .description{
  font-size: 13px;
}

.resource-count {
    color: #333;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 8px;
}

.profile_photo_img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.resource {
  border-top: 1px solid #e2e2e2;
  padding: 10px 0px;
}

.user-info {
  text-decoration: none;
  color: #333;
}

i.thumbs:hover {
  cursor: pointer;
}
