<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header-b.ejs %>
    <link rel="stylesheet" href="/stylesheets/signin.css">
  </head>
  <body>
    <h2> Welcome <%= email %> </h2>
    <% include ../partials/footer-b.ejs %>
    <script type="text/javascript">
    </script>
  </body>
</html>
