<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header-b.ejs %>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="main-wrapper">
      <div class="navbar">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><span class="logo-color">conceptbase</span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <div id="search-area">
                  </div>
                </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Compose</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="user"></span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" id="sign-out">Sign out</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div> <!-- end navbar -->
      <div id="concept-container">
      </div>
    </div> <!-- end main-wrapper -->
    <!-- include footer -->
    <% include ../partials/footer-b.ejs %>
    <script type="text/babel" src="/js/Search.js"></script>
    <script type="text/javascript">
      function setUser() {
        conceptBase.user = Cookies.get('email')
        console.debug("Logged in user is: " + conceptBase.user);
        $('.navbar .user').html(conceptBase.user);
      }

      function enableSignoutLink() {
        $('#sign-out').click(function() {
          Cookies.set('email', '');
          var pathTokens = window.location.pathname.split('/');
          pathTokens.shift(); // remove leading '/'
          pathTokens.pop(); // remove last path element
          pathTokens.push('signin.html'); // append the new path element
          var signoutRedirect = window.location.protocol + '//'
                                  + window.location.host + '/'
                                  + pathTokens.join('/');
          window.location.href = signoutRedirect;
        });
      }

      $( document ).ready(function() {
          setUser();
          enableSignoutLink();
      });
    </script>
  </body>
</html>
